.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.intro-slides {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-slides-text {
  font-size: 1.5em;
  font-family: 'Playfair Display', Georgia, serif;
  color: black;
  font-style: italic;
}
.intro-slides-text-box {
  margin-left: 60vw;
  margin-right: 10vw;
  margin-bottom: 12vw;
  background-color: white;
  opacity: 0.9;
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 17px;
}
.toolbar-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
