.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.intro-slides {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-slides-text {
  font-size: 1.2em;
  font-family: 'Playfair Display', Georgia, serif;
  color: black;
  font-style: italic;
}
.intro-slides-text-box {
  padding: 0.2em;
  margin-left: 60vw;
  margin-right: 10vw;
  background-color: white;
  opacity: 0.8;
}
.toolbar-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
