.profile-photo-avatar {
  padding: 0.5em;
  margin: auto;
  width: 6.5em !important;
  height: 8em !important;
}

.split-pane-visible > .split-pane-side {
  min-width: 200px !important;
  max-width: 200px !important;
}
